[submodule "vendor/Onigmo"]
	path = vendor/Onigmo
	url = https://github.com/dahakawang/Onigmo.git
[submodule "vendor/json-parser"]
	path = vendor/json-parser
	url = https://github.com/dahakawang/json-parser.git
[submodule "vendor/utf8-cpp"]
	path = vendor/utf8-cpp
	url = https://github.com/dahakawang/uft8-cpp.git
